<!DOCTYPE HTML>
<html>

<head>
  <title>Movie Trailer</title>
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/intro-stylesheet.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/intro-global.js"></script>
  <script type="text/javascript" src="js/script-intro.js"></script>
</head>

<body id="introBackground">

<header>
</header>
<div class="container-fluid parent_container">

	<div class="movie-progress">
    <ul id="progress_circles">
		<li class="activeStep"></li>
		<li></li>
		<li></li>
		<li class="stepDisabled"></li>
		<li></li>
		<li></li>
		<li class="stepDisabled"></li>
		<li></li>
		<li></li>
        <li></li>
        <li class="stepDisabled"></li>
        <li></li>
        <li></li>
		<li></li>
		<li></li>
		<li></li>
        <li class="stepDisabled"></li>
	</ul>
  </div>
  
	<div id="survey_display_block3">
		
		<div class="intro3">
		<span></span>
		<span><h2>About being in this study</h2>
		<hr>
		<h4><strong>Possible Benefits</strong></h4>
		<p>We do not know of any way you would benefit directly from taking part in this study.
		However, this research may help us to understand how movie recommenders could be improved.</p>
		
		<h4><strong>Risks and Discomforts</strong></h4>
		<p>We do not know of any risks or discomforts to you in this research study. 
                    However, if you feel that you need a break, then you may take one at any time. 
                    You may also opt out of the study at any time if you are not comfortable.</p>
                <h4><strong>Incentives</strong></h4>
                <p>As a result of your completion of this study, you will be compensated $X.XX through Amazon Mechanical Turk. We appreciate your participation and feedback from this study.</p>
		<h4><strong>Protection of Privacy and Confidentiality</strong></h4>
                <p>We will do everything we can to protect your privacy and confidentiality. 
                    We will not tell anybody outside of the research team that you were in this study or what information we collected about you in particular. 
                    If you want, we will remove your information from the system at the end of the study.</p>
                <h4><strong>Choosing to Be in the Study</strong></h4>
                <p>You do not have to be in this study. You may choose not to take part and you may choose to stop taking part at any time. You will not be punished in any way if you decide not to be in the study or to stop taking part in the study. We do ask that you only choose to complete this study once.</p>
                <h4><strong>Contact</strong></h4>
                <p>If you have any questions or concerns about this study or if any problems arise, please contact Dr. Bart Knijnenburg at Clemson University at bartk@clemson.edu.</p>

                <p>If you have any questions or concerns about your rights in this research study, please contact the Clemson University Office of Research Compliance (ORC) at 864-656-0636 or irb@clemson.edu. If you are outside of the Upstate South Carolina area, please use the ORC’s toll-free number, 866-297-3071.
</p>
<div id="survey_section">
<table class="question" id="consent_Q">
    
    <td>
        <input type="checkbox" name="consent_test" id="consentCheckbox"> I agree to participate in this study
    </td>
   
</table>
</div>

</span>
		

		

		</div>
		
	</div>
	
	<div class="consent-next">
	<button id="consentbutton" type="button">Next</button>
	</div>
</div>

</body>

</html>