<!DOCTYPE HTML>
<html>

<head>
  <title>Movie Trailer</title>
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/intro-stylesheet.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/intro-global.js"></script>
</head>

<body id="introBackground">

   
<div class="container-fluid parent_container">

	<div class="movie-progress">
    <ul id="progress_circles">
		<li class="activeStep"></li>
		<li></li>
		<li></li>
		<li class="stepDisabled"></li>
		<li></li>
		<li></li>
		<li class="stepDisabled"></li>
		<li></li>
		<li></li>
        <li></li>
        <li class="stepDisabled"></li>
        <li></li>
        <li></li>
		<li></li>
		<li></li>
		<li></li>
        <li class="stepDisabled"></li>
	</ul>
  </div>
  
	<div id="survey_display_block">
		
		<div class="intro">
		<span><h1><strong>Welcome</strong></h1></span>
		<span><h3>Welcome to the study on movie recommenders conducted by Clemson University</h3></span>
		<hr>

		<span>Error Page
</span>

		</div>
		
	</div>
	
	<div class="survey-next-button">
	<button id="survey_nextWelcome" type="button">Next</button>
	</div>
</div>
    
</body>

</html>