<!DOCTYPE HTML>
<html>

<head>
  <title>Movie Trailer</title>
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/intro-stylesheet.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/script-intro.js"></script>
</head>

<body>

<header>
</header>
<div class="container-fluid parent_container">

	<div class="movie-progress">
    <ul id="progress_circles">
		<li class="step"></li>
		<li class="active"></li>
		<li></li>
		<li class="stepDisabled"></li>
		<li></li>
		<li></li>
		<li class="stepDisabled"></li>
		<li></li>
		<li></li>
        <li></li>
        <li class="stepDisabled"></li>
        <li></li>
        <li></li>
		<li></li>
		<li></li>
		<li></li>
        <li class="stepDisabled"></li>
	</ul>
  </div>
  
	<div id="survey_display_block_central">
		
		<div class="intro">
		<span>Please rate the following statements and select the option that is true about you</span>
		</div>
		<!--Begin Page 1-->
		<div id="verbalpage1">
		<div id="survey_section"> 
		
			<table class="question" id="Q1">
				<tr>
					<td colspan="5"><span>I enjoy doing work that requires the use of words</span></td>
				</tr>
				<tr>
					<td>Strongly Disagree</td>
					<td>Disagree</td>
					<td>Neutral</td>
					<td>Agree</td>
					<td>Strongly Agree</td>
				</tr>

				<tr class="rad_row">
					<td><input type="radio" name="radOpt_1" value="option1"></td>
					<td><input type="radio" name="radOpt_1" value="option2"></td>
					<td><input type="radio" name="radOpt_1" value="option3"></td>
					<td><input type="radio" name="radOpt_1" value="option4"></td>
					<td><input type="radio" name="radOpt_1" value="option5"></td>
				</tr>
			</table>
			
			<table class="question" id="Q2">
				<tr>
					<td colspan="5"><span>I read rather slowly</span></td>
				</tr>
				<tr>
					<td>Strongly Disagree</td>
					<td>Disagree</td>
					<td>Neutral</td>
					<td>Agree</td>
					<td>Strongly Agree</td>
				</tr>
			
				<tr class="rad_row">
					<td><input type="radio" name="radOpt_2" value="option1"></td>
					<td><input type="radio" name="radOpt_2" value="option2"></td>
					<td><input type="radio" name="radOpt_2" value="option3"></td>
					<td><input type="radio" name="radOpt_2" value="option4"></td>
					<td><input type="radio" name="radOpt_2" value="option5"></td>
				</tr>
			</table>
			
			<table class="question" id="Q3">
				<tr>
					<td colspan="5"><span> I enjoy learning new words</span></td>
				</tr>
				<tr>
					<td>Strongly Disagree</td>
					<td>Disagree</td>
					<td>Neutral</td>
					<td>Agree</td>
					<td>Strongly Agree</td>
				</tr>
				
				<tr class="rad_row">
					<td><input type="radio" name="radOpt_3" value="option1"></td>
					<td><input type="radio" name="radOpt_3" value="option2"></td>
					<td><input type="radio" name="radOpt_3" value="option3"></td>
					<td><input type="radio" name="radOpt_3" value="option4"></td>
					<td><input type="radio" name="radOpt_3" value="option5"></td>
				</tr>
			</table>
			
		</div>
		</div><!--End of Page 1-->
		
		<!--Begin Page 2-->
		<div id="verbalpage2">
		<div id="survey_section">
		
			<table class="question" id="Q1">
				<tr>
					<td colspan="5"><span>I can easily think of synonyms for words</span></td>
				</tr>
				<tr>
					<td>Strongly Disagree</td>
					<td>Disagree</td>
					<td>Neutral</td>
					<td>Agree</td>
					<td>Strongly Agree</td>
				</tr>
				<tr>
					
				</tr>
				<tr class="rad_row">
					<td><input type="radio" name="radOpt_1" value="option1"></td>
					<td><input type="radio" name="radOpt_1" value="option2"></td>
					<td><input type="radio" name="radOpt_1" value="option3"></td>
					<td><input type="radio" name="radOpt_1" value="option4"></td>
					<td><input type="radio" name="radOpt_1" value="option5"></td>
				</tr>
			</table>
			
			<table class="question" id="Q2">
				<tr>
					<td colspan="5"><span>I prefer to read instructions about how to do something rather than
have someone show me</span></td>
				</tr>
				<tr>
					<td>Strongly Disagree</td>
					<td>Disagree</td>
					<td>Neutral</td>
					<td>Agree</td>
					<td>Strongly Agree</td>
				</tr>
				<tr>
					
				</tr>
				<tr class="rad_row">
					<td><input type="radio" name="radOpt_2" value="option1"></td>
					<td><input type="radio" name="radOpt_2" value="option2"></td>
					<td><input type="radio" name="radOpt_2" value="option3"></td>
					<td><input type="radio" name="radOpt_2" value="option4"></td>
					<td><input type="radio" name="radOpt_2" value="option5"></td>
				</tr>
			</table>
			
			
		</div>
		</div><!--End of Page 2-->
	

	<!--Begin Page 3-->
		<div id="verbalpage3">
		<div id="survey_section">
		
			<table class="question" id="Q1">
				<tr>
					<td colspan="5"><span>I don&#8217;t believe that anyone can think in terms of mental images or visualization</span></td>
				</tr>
				<tr>
					<td>Strongly Disagree</td>
					<td>Disagree</td>
					<td>Neutral</td>
					<td>Agree</td>
					<td>Strongly Agree</td>
				</tr>
				<tr>
					
				</tr>
				<tr class="rad_row">
					<td><input type="radio" name="radOpt_1" value="option1"></td>
					<td><input type="radio" name="radOpt_1" value="option2"></td>
					<td><input type="radio" name="radOpt_1" value="option3"></td>
					<td><input type="radio" name="radOpt_1" value="option4"></td>
					<td><input type="radio" name="radOpt_1" value="option5"></td>
				</tr>
			</table>
			
			<table class="question" id="Q2">
				<tr>
					<td colspan="5"><span>I find illustrations or diagrams help me when I&#8217;m reading</span></td>
				</tr>
				<tr>
					<td>Strongly Disagree</td>
					<td>Disagree</td>
					<td>Neutral</td>
					<td>Agree</td>
					<td>Strongly Agree</td>
				</tr>
				<tr>
					
				</tr>
				<tr class="rad_row">
					<td><input type="radio" name="radOpt_2" value="option1"></td>
					<td><input type="radio" name="radOpt_2" value="option2"></td>
					<td><input type="radio" name="radOpt_2" value="option3"></td>
					<td><input type="radio" name="radOpt_2" value="option4"></td>
					<td><input type="radio" name="radOpt_2" value="option5"></td>
				</tr>
			</table>
			
			<table class="question" id="Q3">
				<tr>
					<td colspan="5"><span>I have a hard time making a &#8220;mental picture&#8221; of a place that I&#8217;ve only been to a few times</span></td>
				</tr>
				<tr>
					<td>Strongly Disagree</td>
					<td>Disagree</td>
					<td>Neutral</td>
					<td>Agree</td>
					<td>Strongly Agree</td>
				</tr>
				<tr>
					
				</tr>
				<tr class="rad_row">
					<td><input type="radio" name="radOpt_3" value="option1"></td>
					<td><input type="radio" name="radOpt_3" value="option2"></td>
					<td><input type="radio" name="radOpt_3" value="option3"></td>
					<td><input type="radio" name="radOpt_3" value="option4"></td>
					<td><input type="radio" name="radOpt_3" value="option5"></td>
				</tr>
			</table>
			
		</div>
		</div><!--End of Page 3-->
	
	<!--Begin Page 4-->
		<div id="verbalpage4">
		<div id="survey_section">
		
			<table class="question" id="Q1">
				<tr>
					<td colspan="5"><span> I rarely use diagrams to explain things</span></td>
				</tr>
				<tr>
					<td>Strongly Disagree</td>
					<td>Disagree</td>
					<td>Neutral</td>
					<td>Agree</td>
					<td>Strongly Agree</td>
				</tr>
				<tr>
					
				</tr>
				<tr class="rad_row">
					<td><input type="radio" name="radOpt_1" value="option1"></td>
					<td><input type="radio" name="radOpt_1" value="option2"></td>
					<td><input type="radio" name="radOpt_1" value="option3"></td>
					<td><input type="radio" name="radOpt_1" value="option4"></td>
					<td><input type="radio" name="radOpt_1" value="option5"></td>
				</tr>
			</table>
			
			<table class="question" id="Q2">
				<tr>
					<td colspan="5"><span>I like newspaper articles that have graphs</span></td>
				</tr>
				<tr>
					<td>Strongly Disagree</td>
					<td>Disagree</td>
					<td>Neutral</td>
					<td>Agree</td>
					<td>Strongly Agree</td>
				</tr>
				<tr>
					
				</tr>
				<tr class="rad_row">
					<td><input type="radio" name="radOpt_2" value="option1"></td>
					<td><input type="radio" name="radOpt_2" value="option2"></td>
					<td><input type="radio" name="radOpt_2" value="option3"></td>
					<td><input type="radio" name="radOpt_2" value="option4"></td>
					<td><input type="radio" name="radOpt_2" value="option5"></td>
				</tr>
			</table>
			
			<table class="question" id="Q3">
				<tr>
					<td colspan="5"><span>I don&#8217;t like maps or diagrams in books</span></td>
				</tr>
				<tr>
					<td>Strongly Disagree</td>
					<td>Disagree</td>
					<td>Neutral</td>
					<td>Agree</td>
					<td>Strongly Agree</td>
				</tr>
				<tr>
					
				</tr>
				<tr class="rad_row">
					<td><input type="radio" name="radOpt_3" value="option1"></td>
					<td><input type="radio" name="radOpt_3" value="option2"></td>
					<td><input type="radio" name="radOpt_3" value="option3"></td>
					<td><input type="radio" name="radOpt_3" value="option4"></td>
					<td><input type="radio" name="radOpt_3" value="option5"></td>
				</tr>
			</table>
			
		</div>
		</div><!--End of Page 4-->
		
	</div><!--End of Display Container-->
	
	<div class="survey-next-button">
	<button id="verbalpage1button" type="button">Next</button>
	<button id="verbalpage2button" type="button">Next</button>
	<button id="verbalpage3button" type="button">Next</button>
	<button id="resize_nextOverview" type="button">Next</button>
	</div>
</div>

</body>

</html>