<!DOCTYPE html>

<html>
   <head>
  <title>Movie Trailer</title>
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/intro-stylesheet.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/global.js"></script>
</head>
    <body id="introBackground">
       <div class="container-fluid parent_container">

	<div class="movie-progress">

  </div>
  
	<div id="survey_display_block">
		
            <div class="intro" >
		<span></span>
                </br>
                </br>
                </br>
                 
                  
               
            <div class="loader"></div>
			 <span><h3><strong><center>Loading Recommendations</center></h3></strong></span>
                <span></span> 
                    <br>
                    <br>
            </div>
                    

                

		
		
	</div>
	
	
</div>

		<script>
            setTimeout(function(){
                window.location.href="ratings.html";
            }, 4000);
        </script>
    </body>
</html>
