<!DOCTYPE HTML>
<html>

<head>
  <title>Movie Trailer</title>
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/intro-stylesheet.css" rel="stylesheet" type="text/css" />
  <link href="css/introjs.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/intro.js" ></script>
  <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/script-intro.js"></script>

</head>

<body id="introBackground">

    <!--start of container for page-->
<div class="container-fluid parent_container">

    <!Progress Bar>
    
	<div class="movie-progress">            
        <ul id="progress_circles">
		<li class="step"></li>
		<li class="done"></li>
		<li class="active"></li>
		<li class="stepDisabled"></li>
		<li></li>
		<li></li>
		<li class="stepDisabled"></li>
		<li></li>
		<li></li>
        <li></li>
        <li class="stepDisabled"></li>
        <li></li>
        <li></li>
		<li></li>
		<li></li>
		<li></li>
        <li class="stepDisabled"></li>
		</ul>            
  </div>

  <div id="pageno">
	<span>1</span>
  </div>
  
  <div class="info_holder">
		<a href="" data-toggle="modal" data-target="#helpInfo"> 
			<img data-toggle="tooltip" title="Help" class="info_holder" src="img/info.png" alt="info"> 
		</a>
		
		<div id="helpInfo" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">			
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Instructions</h4>
				</div>
				
				<div class="modal-body">
					<p>
					This help section will contain instructions for the current page. This will help you if you want to recollect the instructions.
					</p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>	
		    </div>
		</div>
	</div>
	</div>
  
	<div id="survey_display_block">
		
		<div id="overview">
		<div class="intro">
                <span><strong><h2>STUDY OVERVIEW</h2></strong>
		<hr>
                </span>
                    <span></span>
                </div> 
                <!--end of intro-->
                 <div class="movie_ribbon"> 
                    <div class="block_holder2">
                        
                        <div class="overview-block" id="img1">
                            <div class="wrapper-block2">
                                <div class="img-block2">
                                    <img src="img/overview.png">
                                </div>
                            </div> 
                        </div>
                       
                       
		</div>
		
		
	</div>
	</div>
	<!--end of overview-->

<div id="begin">
<div class="intro" >
		<span></span>
                </br>
                </br>
                </br>
                 <br>
                    <br>
                <span><h3><strong>Are you ready?</h3></strong></span>
                   
                    <br>
                    <br>
                    <span><center>If you are ready to begin the study you can press the next button below. The first section of the study will start. 
                        </center></span>
		</div>
</div>


</div> 

<div class="survey-next-button">
	<button id="overviewbutton" type="button">Next</button>
	
	<button id="beginbutton" type="button">Next</button>
	</div>
    <!--end of container for page-->
  </div> 
  
  <script type="text/javascript">
      confirmUnload = true;
      $('#beginbutton').click(function() { 
      	confirmUnload = false;
      	console.log("begin button is clicked");
      });
    </script> 
</body>

</html>