<!DOCTYPE HTML>
<html>

<head>
  <title>Movie Trailer</title>
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/intro-stylesheet.css" rel="stylesheet" type="text/css" />
  <link href="css/introjs.css" rel="stylesheet" type="text/css" />
  <link href="css/progress-wizard.min.css" rel="stylesheet">
  <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/intro-global.js"></script>
  <script type="text/javascript" src="js/intro.js" ></script>
</head>

<body id="introBackground">

    <!--start of container for page-->
<div class="container-fluid parent_container">

    <!Progress Bar>
    
	<div class="movie-progress">            
        <ul id="progress_circles">
		<li class="step"></li>
		<li class="done"></li>
		<li class="active"></li>
		<li class="stepDisabled"></li>
		<li></li>
		<li></li>
		<li class="stepDisabled"></li>
		<li></li>
		<li></li>
        <li></li>
        <li class="stepDisabled"></li>
        <li></li>
        <li></li>
		<li></li>
		<li></li>
		<li></li>
        <li class="stepDisabled"></li>
		</ul>            
  </div>

  
	<div id="survey_display_block">
		
		<div class="intro">
                <span><strong><h2>STUDY OVERVIEW</h2></strong>
		<hr>
                </span>
                    <span></span>
                </div> 
                <!--end of intro-->
                 <div class="movie_ribbon"> 
                    <div class="block_holder2">
                        
                        <div class="overview-block" id="img1">
                            <div class="wrapper-block2">
                                <div class="img-block2">
                                    <img src="img/overview2.png">
                                </div>
                            </div> 
                        </div>
                       
                       
		</div>
		<!end of display_block>
	</div>
	
	
</div>

<div class="survey-next-button">
	<button id="overview_nextInstructions" type="button">Next</button>
	</div>
    <!--end of container for page-->
 </div>   
    
</body>

</html>