<!DOCTYPE HTML>
<html>

<head>
  <title>Movie Trailer</title>
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="pragma" content="no-cache" />
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/intro-stylesheet.css" rel="stylesheet" type="text/css" />
  <link href="css/introjs.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.logrocket.io/LogRocket.min.js" crossorigin="anonymous"></script>
  <script>window.LogRocket && window.LogRocket.init('548y59/trailerstudy'); window.LogRocket && window.LogRocket.identify(<%- JSON.stringify(data.userid) %>)</script>
  <script type="text/javascript" src="js/intro.js" ></script>
  <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/script-intro.js"></script>

</head>

<body id="introBackground">

    <!--start of container for page-->
<div class="container-fluid parent_container">

    <!--Progress Bar-->
    
	<div class="movie-progress">           
			<ul id="progress_circles">
			<li class="step" id="pb_1"></li>
			<li class="done" id="pb_2"></li>
			<li class="done" id="pb_3"></li>
			<li class="step" id="pb_4"></li>
			<li class="done" id="pb_5"></li>
			<li class="done" id="pb_6"></li>
			<li class="activeStep" id="pb_7"></li>
			<li id="pb_8"></li>
			<li id="pb_9"></li>
			<li id="pb_10"></li>
			<li class="stepDisabled" id="pb_11"></li>
			<li id="pb_12"></li>
			<li id="pb_13"></li>
			<li id="pb_14"></li>
			<li id="pb_15"></li>
			<li id="pb_16"></li>
			<li class="stepDisabled" id="pb_17"></li>
			</ul>     		
		</div>
  
	
	<div id="survey_display_block_overview">
	<!--Overview page-->
		<div id="overview">
		<div class="intro">
            <span><strong><h2>STUDY OVERVIEW</h2></strong>
			<hr>
            </span>
        </div> 
              
            <div class="block_holder2"> 
                <div class="overview-block" id="img1">
                    <div class="wrapper-block2">
                        <div class="img-block2">
                            <img src="img/overview.png">
                        </div>
                    </div> 
                </div>                      
			</div>
		
		</div>
		<!--end of Overview page-->
		
		
		<!--Begin page-->
	<div id="begin">
		<div class="intro">
			
			<span><h3><strong>Are you ready?</strong></h3></span>
			<br><br>
			<span><center>If you are ready to begin the study you can press the 'Begin' button below. The first section of the study will start.</center></span>
		</div>
	</div>
		
	</div>
	<!--end of Begin page-->

	

	<div class="survey-next-button">
	<button id="overviewbutton" type="button">Next</button>
	<button id="beginbutton" type="button">Begin</button>
	</div>
    <!--end of container for page-->
  </div> 
  
  <script type="text/javascript">
      confirmUnload = true;
      $('#beginbutton').click(function() { 
      	confirmUnload = false;
      	console.log("begin button is clicked");
      });
    </script> 
</body>

</html>