<!DOCTYPE HTML>
<html>

<head>
  <title>Movie Trailer</title>
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/intro-stylesheet.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/intro-global.js"></script>
</head>

<body id="introBackground">

<header>
</header>
<div class="container-fluid parent_container">

	<div class="movie-progress">
    <ul id="progress_circles">
		<li class="activeStep"></li>
		<li></li>
		<li></li>
		<li class="stepDisabled"></li>
		<li></li>
		<li></li>
		<li class="stepDisabled"></li>
		<li></li>
		<li></li>
        <li></li>
        <li class="stepDisabled"></li>
        <li></li>
        <li></li>
		<li></li>
		<li></li>
		<li></li>
        <li class="stepDisabled"></li>
	</ul>
  </div>
  
	<div id="resize_display_block">
		
            <div class="intro">
                </br>
                </br>
                </br>
                <span><h3><strong>Can you see this box and the next button without scrolling?</h3></strong></span>
                    <br>
                    <span> 
                    <p>If you can't:</p> 
                    <p>- resize your browser window by pressing the keys "ctrl" and "+"</p>
                    <p>- or try adjusting your browser window by pressing the keys "ctrl" and "-"</p>
                        
                    </span>

          

		</div>
		
	</div>
	
	<div class="resize-next-button">
	<button id="resize_nextResize" type="button">Next</button>
	</div>
</div>

</body>

</html>