<!DOCTYPE HTML>
<html>

<head>
  <title>Movie Trailer</title>
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/intro-stylesheet.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/intro-global.js"></script>
</head>

<body>

<header>
</header>
<div class="container-fluid parent_container">

	<div class="movie-progress">           
        <ul id="progress_circles">
		<li class="step"></li>
		<li class="done"></li>
		<li class="done"></li>
		<li class="step"></li>
		<li class="done"></li>
		<li class="done"></li>
		<li class="step"></li>
		<li class="done"></li>
		<li class="done"></li>
        <li class="done"></li>
        <li class="step"></li>
        <li class="done"></li>
        <li class="done"></li>
		<li class="active"></li>
		<li></li>
		<li></li>
        <li class="stepDisabled"></li>
		</ul>             
  </div>
  
	<div id="survey_display_block_central">
		
		<div class="intro">
		<span>Please evaluate the following statements about your <b> LAST movie LIST </b>from <i>"strongly disagree"</i> to <i>"strongly agree"</i></span>
		</div>
		
		<div id="survey_section">
		
			<table class="question" id="Q1">
				<tr>
					<td colspan="5"><span>The recommended movies were relevant. </span></td>
				</tr>
				<tr>
					<td>Strongly Disagree</td>
					<td>Disagree</td>
					<td>Neutral</td>
					<td>Agree</td>
					<td>Strongly Agree</td>
				</tr>				
				<tr class="rad_row">
					<td><input type="radio" name="radOpt_1" value="option1"></td>
					<td><input type="radio" name="radOpt_1" value="option2"></td>
					<td><input type="radio" name="radOpt_1" value="option3"></td>
					<td><input type="radio" name="radOpt_1" value="option4"></td>
					<td><input type="radio" name="radOpt_1" value="option5"></td>
				</tr>
			</table>
			
			<table class="question" id="Q2">
				<tr>
					<td colspan="5"><span>The system recommended too many bad movies.</span></td>
				</tr>
				<tr>
					<td>Strongly Disagree</td>
					<td>Disagree</td>
					<td>Neutral</td>
					<td>Agree</td>
					<td>Strongly Agree</td>
				</tr>
				<tr class="rad_row">
					<td><input type="radio" name="radOpt_2" value="option1"></td>
					<td><input type="radio" name="radOpt_2" value="option2"></td>
					<td><input type="radio" name="radOpt_2" value="option3"></td>
					<td><input type="radio" name="radOpt_2" value="option4"></td>
					<td><input type="radio" name="radOpt_2" value="option5"></td>
				</tr>
			</table>
			
			<table class="question" id="Q3">
				<tr>
					<td colspan="5"><span>I  didn&#8217;t like any of the recommended movies.</span></td>
				</tr>
				<tr>
					<td>Strongly Disagree</td>
					<td>Disagree</td>
					<td>Neutral</td>
					<td>Agree</td>
					<td>Strongly Agree</td>
				</tr>
				<tr class="rad_row">
					<td><input type="radio" name="radOpt_3" value="option1"></td>
					<td><input type="radio" name="radOpt_3" value="option2"></td>
					<td><input type="radio" name="radOpt_3" value="option3"></td>
					<td><input type="radio" name="radOpt_3" value="option4"></td>
					<td><input type="radio" name="radOpt_3" value="option5"></td>
				</tr>
			</table>
			
		</div>
		
	</div>
	
	<div class="survey-next-button">
	<button id="survey_next8" type="button">Next</button>
	</div>
</div>

</body>

</html>