<!DOCTYPE HTML>
<html>

<head>
  <title>Movie Trailer</title>
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="pragma" content="no-cache" />
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/intro-stylesheet.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.logrocket.io/LogRocket.min.js" crossorigin="anonymous"></script>
  <script>window.LogRocket && window.LogRocket.init('548y59/trailerstudy'); window.LogRocket && window.LogRocket.identify(<%- JSON.stringify(data.userid) %>)</script>
  <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/intro-global.js"></script>
<script type="text/javascript">

$(function() {

/**
 * POST update the known items.
 */
 var hitNo = []; 
function postHit(hitNO) {
	return $.ajax({
		type: 'POST',
		url: '/api/update/hitNo',
		data: {
			userid: userid,
			hitNo: <%- JSON.stringify(data.hashId) %>
		},
		dataType: 'json',
		error: function(err) {
			console.log(err.responseText);
		}
	});
}

$(window).on( "load", function(){
					if (typeof postEvent === "function") {
						postEvent('THANK_YOU_LOADED', {message: "Thank you page loaded"});
					}
					postHit(hitNo); 
					/*console.log(<%- JSON.stringify(data.hashId) %>);*/ 
				})
				
				

});
</script>  
</head>

<body id="introBackground">

<div id="lastpage">
<div class="container-fluid parent_container">

	<div class="movie-progress">           
        <ul id="progress_circles">
		<li class="step"></li>
		<li class="done"></li>
		<li class="done"></li>
		<li class="step"></li>
		<li class="done"></li>
		<li class="done"></li>
		<li class="step"></li>
		<li class="done"></li>
		<li class="done"></li>
        <li class="done"></li>
        <li class="step"></li>
        <li class="done"></li>
        <li class="done"></li>
		<li class="done"></li>
		<li class="done"></li>
		<li class="done"></li>
        <li class="step"></li>
		</ul>            
  </div>
  
	<div id="survey_display_block">
		
            <div class="intro" >
		<span></span>
                </br>
                </br>
                </br>
                 <br>
                    <br>
                <span><h3><strong><center>Thank you for participating in this study</h3></strong></center></span>
                   
                    <br><br><br><br><br><br>
                    <span><center>
					Please copy and paste this number to your Amazon Mechanical Turk page.
					<div id="Turkid"><strong><%- data.hashId %></strong></div>
                    </center></span> 
					 

                

		</div>
		
	</div>
	
</div>
</div>	


</body>

</html>