<!DOCTYPE HTML>
<html>

<head>
  <title>Movie Trailer</title>
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/intro-stylesheet.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/intro-global.js"></script>
</head>

<body id="introBackground">

<div class="container-fluid parent_container">

	<div class="movie-progress">           
        <ul id="progress_circles">
		<li class="step"></li>
		<li class="done"></li>
		<li class="done"></li>
		<li class="step"></li>
		<li class="done"></li>
		<li class="done"></li>
		<li class="step"></li>
		<li class="done"></li>
		<li class="done"></li>
        <li class="done"></li>
        <li class="step"></li>
        <li class="done"></li>
        <li class="done"></li>
		<li class="done"></li>
		<li class="done"></li>
		<li class="done"></li>
        <li class="step"></li>
		</ul>            
  </div>
  
	<div id="survey_display_block">
		
            <div class="intro" >
		<span></span>
                </br>
                </br>
                </br>
                 <br>
                    <br>
                <span><h3><strong><center>Thank you for participating in this study</h3></strong></center></span>
                   
                    <br><br><br><br><br><br>
                    <span><center>
					Please copy and paste this number to your Amazon Mechanical Turk page.
					<div id="Turkid"><strong>201457</strong></div>
                    </center></span> 
					 

                

		</div>
		
	</div>
	
	
</div>

</body>

</html>