<!DOCTYPE HTML>
<html>

<head>
  <title>Movie Trailer</title>
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="pragma" content="no-cache" />
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/intro-stylesheet.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.logrocket.io/LogRocket.min.js" crossorigin="anonymous"></script>
  <script>window.LogRocket && window.LogRocket.init('548y59/trailerstudy'); window.LogRocket && window.LogRocket.identify(<%- JSON.stringify(data.userid) %>)</script>
  <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/script-intro.js"></script>
</head>

<body id="introBackground">

   
<div class="container-fluid parent_container">

	
  
	<div id="welcome_display_block">
	
	<!--Welcome Page starts-->
	<div id="welcomeBody">
		<div class="movie-progress">           
			<ul id="progress_circles">
			<li class="activeStep" id="pb_1"></li>
			<li id="pb_2"></li>
			<li id="pb_3"></li>
			<li class="stepDisabled" id="pb_4"></li>
			<li id="pb_5"></li>
			<li id="pb_6"></li>
			<li class="stepDisabled" id="pb_7"></li>
			<li id="pb_8"></li>
			<li id="pb_9"></li>
			<li id="pb_10"></li>
			<li class="stepDisabled" id="pb_11"></li>
			<li id="pb_12"></li>
			<li id="pb_13"></li>
			<li id="pb_14"></li>
			<li id="pb_15"></li>
			<li id="pb_16"></li>
			<li class="stepDisabled" id="pb_17"></li>
			</ul>     		
		</div>	
		<div class="intro addBox">
			<span><h1><strong>Welcome</strong></h1></span>
			<span><h4>Welcome to the study on movie recommenders conducted by Clemson University</h4></span>
			<hr>
			<span>Dr. Knijnenburg invites you to take part in a research study. Dr. Knijnenburg is a professor at Clemson University. This is a study that aims to test a new recommender system for movies. Your participation in this study will be valued.
			<br/><br/>
			<strong>It will take you about 15-20 minutes to complete the four steps of the study:
			<ol>	
				<li> Introduction and personality test </li>
				<li> Instructions for the study </li>
				<li> Rate movies </li>
				<li> Complete survey </li>				
			</ol>
			</strong>
			</span>
		</div>
		</div>
		<!--Welcome Page ends-->
		
		
		<!--Consent Page starts-->
		<div id="consentBody">
		<div class="movie-progress">           
			<ul id="progress_circles">
			<li class="step" id="pb_1"></li>
			<li class="activeStep" id="pb_2"></li>
			<li id="pb_3"></li>
			<li class="stepDisabled" id="pb_4"></li>
			<li id="pb_5"></li>
			<li id="pb_6"></li>
			<li class="stepDisabled" id="pb_7"></li>
			<li id="pb_8"></li>
			<li id="pb_9"></li>
			<li id="pb_10"></li>
			<li class="stepDisabled" id="pb_11"></li>
			<li id="pb_12"></li>
			<li id="pb_13"></li>
			<li id="pb_14"></li>
			<li id="pb_15"></li>
			<li id="pb_16"></li>
			<li class="stepDisabled" id="pb_17"></li>
			</ul>     		
		</div>
		<div class="intro addBox">
			<span></span>
			<span><h3>About being in this study</h3>
			<hr>
			<h4><strong>Risks and Discomforts</strong></h4>
			<p>We do not know of any risks or discomforts to you in this research study. 
               However, if you feel that you need a break, then you may take one at any time. 
               You may also opt out of the study at any time if you are not comfortable.</p>
            <h4><strong>Incentives</strong></h4>
            <p>As a result of your completion of this study, you will be compensated $1.50 through Amazon Mechanical Turk. We appreciate your participation and feedback from this study.</p>
			                
			<div id="survey_section">
				<table class="question" id="consent_Q">
					<td>
						<input type="checkbox" name="consent_test" id="consentCheckbox"> I agree to participate in this study
					</td>
				</table>
			</div>
			</span>
		</div>
		</div>
		<!--Consent Page ends-->
		
		
		<!--Resize Page starts-->
		<div id="resizeBody">
		<div class="movie-progress">           
			<ul id="progress_circles">
			<li class="step" id="pb_1"></li>
			<li class="done" id="pb_2"></li>
			<li class="activeStep" id="pb_3"></li>
			<li class="stepDisabled" id="pb_4"></li>
			<li id="pb_5"></li>
			<li id="pb_6"></li>
			<li class="stepDisabled" id="pb_7"></li>
			<li id="pb_8"></li>
			<li id="pb_9"></li>
			<li id="pb_10"></li>
			<li class="stepDisabled" id="pb_11"></li>
			<li id="pb_12"></li>
			<li id="pb_13"></li>
			<li id="pb_14"></li>
			<li id="pb_15"></li>
			<li id="pb_16"></li>
			<li class="stepDisabled" id="pb_17"></li>
			</ul>     		
		</div>
		<div class="intro resizeThis">
                <br><br><br>
                <span><h3><strong>Can you see this box and the next button without scrolling?</h3></strong></span>
                <br>
                <span><center>
                    <p>If you can't, try to either:</p> 
                    <p>- <b>INCREASE:</b>resize your browser window by pressing the keys "ctrl" and "+"</p>
                    <p>- <b>DECREASE:</b> try adjusting your browser window by pressing the keys "ctrl" and "-"</p>
                      </center>  
                </span>					
		</div>
		</div>
		<!--Resize Page ends-->
		
	</div>
	
	<div class="survey-next-button">
	<button id="welcomebutton" type="button">Next</button>
	<button id="consentbutton" type="button">Next</button>
	<button id="resizebutton" type="button">Next</button>
	</div>
</div>
 <script type="text/javascript">
      data= "";
      confirmUnload = true;
      $('a').click(function() { confirmUnload = false});
	  //test
    </script>
</body>

</html>